@model ProjectYu.Models.NewVideosModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div align="center" style="border-top-style:groove">
        <h1 align="center">Searched Video(s)</h1>
        <table>

            @{
                int i = 0;

                @foreach (var video in Model.listofVideos)
                {
                    int cellBreaker = Model.listofVideos.Count;

                    if (i % 4 == 0)
                    {

                        @:<tr>
                        }

                        <td>
                            <video width="300" height="300" controls="controls" autoplay="autoplay">
                                <source src='~/Content/Videos/@video.FileName' type="video/mp4">

                                Your browser does not support the video tag.
                            </video>
                        </td>
                        <td>
                            <a href="">@video.VideoName</a>
                        </td>

                        if ((i % cellBreaker) == (cellBreaker - 1))
                        {
                        @:</tr>
                    }
                    i++;
                }

            }
        </table>
    </div>
