@model ProjectYu.Models.LoginedUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>

<head>

    <!-- Basics -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Login</title>

    <!-- CSS -->
    <link href="~/css/Login/Login.css" rel="stylesheet" />
    <link href="~/css/Style/Home/style.css" rel="stylesheet" />

    <script>
        $("#loginButton").click(function () {


            $.ajax({
                url: "/Login/Login",
                type: "POST",
                data: function () {
                    var data = new FormData();
                    data.append("userName", $('#username').val());

                    return data;
                }(),
                success: function (response) {
                    // window.location.href = '/Home/Login?userName=' $("#username").val();
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                }
            });

        });
    </script>

</head>

<!-- Main HTML -->
<html>
<body>

    <!-- Begin Page Content -->

    <div id="container">


        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <label for="username">Username:</label>

            @*<input type="text" id="username" name="userName">*@
            @Html.TextBoxFor(x => x.UserModel.UserName, new { @id = "userName" })
            <label for="password">Password:</label>

            <p><a href="#">Forgot your password?</a></p>

            @*<input type="password" id="passWord" name="password">*@
            @Html.TextBoxFor(x => x.UserModel.PassWord)
            <div id="lower">

                <input type="checkbox"><label class="check" for="checkbox">Keep me logged in</label>

                <input id="loginButton" type="submit" value="Login">

            </div><!--/ lower-->


        }
    </div><!--/ container-->
    <!-- End Page Content -->

</body>

</html>