@model ProjectYu.Models.LoginedUserModel
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="~/css/Style/Home/style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var source = [];
        var chosenFile = "";
        $(document).ready(function () {

            $("#loginButton").click(function () {
                window.location.href = '/Login/Index';
            });

            $("a").click(function () {
                $.ajax({
                    url: "/VideoPlayer/Index",
                    type: "POST",
                    data: function () {
                        var data = new FormData();
                        data.append("fileName", $(this).val());

                        return data;
                    }(),
                    success: function (response) {
                        alert("it worked");
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            });

            $.ajax({
                url: "/Search/GetVideoNamesForAutoComplete",
                type: "GET",
                dataType: "json",
                //data: function () {
                //    var data = new FormData();
                //    data.append("videoName", $(this).val());

                //    return data;
                //}(),
                success: function (data) {
                    var listofVideos = data;
                    var objects;
                    var sourceArray = [];

                    var vidNames = [];
                    for (var i = 0; i < data.listofVideos.length; i++) {
                        vidNames.push(data.listofVideos[i].videoName);
                    }

                    console.log(listofVideos);
                    jQuery('#autosearch').autocomplete({
                        source: vidNames,
                        select: function (event, ui) {
                            chosenFile = ui.item.value;
                            var videoName = chosenFile;
                            window.location.href = '/Search/Index?videoName=' + videoName;
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                }
            });



            $('.ui-menu-item').click(function () {
                $.ajax({
                    url: "/Search/Index",
                    type: "POST",
                    data: function () {
                        var data = new FormData();
                        data.append("videoName", $(this).val());

                        return data;
                    }(),
                    success: function (response) {
                        alert("it worked");
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            });
        });

    </script>
    <style>
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td align="left">
                <div align="center">
                    <i class="fa fa-bars" style="font-size:36px;"></i>
                </div>
            </td>
            <td align="center">
                <input type="text" placeholder="Search.." name="search" id="autosearch" style="overflow-y:auto;"><button type="submit"><i class="fa fa-search"></i></button>
            </td>
            <td align="right">
                <div align="center"><input id="loginButton" type="button" value="Sign In" /></div>
            </td>
        </tr>
    </table>

    <div id="content">
        @RenderBody()
    </div>

    <div id="Footer" align="center" style="border-top-style:groove;">
        <p>Project Yu - 2019</p>
    </div>


    @*<div class="container">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class=""></span> Project Yu Login</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <form role="form">
                                <div class="form-group">
                                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    Html.TextBoxFor(x => x.UserModel.UserName)
                                </div>
                                <div class="form-group">
                                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                    Html.PasswordFor(x => x.UserModel.PassWord)

                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" checked>Remember me</label>
                                </div>
                                <button type="submit" class="btn-block" value="Login"><span class="glyphicon glyphicon-off"></span> Login</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <p>Not a member? <a href="#">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

</body>
</html>


