@model ProjectYu.Models.LoginedUserModel
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="~/css/Style/Home/style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        var source = [];
        var chosenFile = "";
        $(document).ready(function () {

            @*$("#loginButton").click(function () {
                var LoginedUserModel = new Object();
                var listOfVideos = new Object();
                var i;
   

      


                LoginedUserModel.loggedIn = @Model.loggedIn.ToString().ToLower();
                LoginedUserModel.NewVideosModel = @Model.NewVideosModel;
                LoginedUserModel.NewVideosModel.listofVideos = listOfVideos;
                LoginedUserModel.UserModel = @Model.UserModel
                window.location.href = '/Login/Index?LoginedUserModel=' + LoginedUserModel;
;
                //$.ajax({
                //    url: "/Login/Index",
                //    type: "POST",
                //    data: { LoginedUserModel: LoginedUserModel },
                //    success: function (response) {

                //    },
                //    error: function (jqXHR, textStatus, errorMessage) {
                //        console.log(errorMessage);
                //    }
                //});
                //window.location.href = '/Login/Index?Model=' + @Model;
            });*@

            $("a").click(function () {
                $.ajax({
                    url: "/VideoPlayer/Index",
                    type: "POST",
                    data: function () {
                        var data = new FormData();
                        data.append("fileName", $(this).val());

                        return data;
                    }(),
                    success: function (response) {
                        alert("it worked");
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            });

            $.ajax({
                url: "/Search/GetVideoNamesForAutoComplete",
                type: "GET",
                dataType: "json",
                //data: function () {
                //    var data = new FormData();
                //    data.append("videoName", $(this).val());

                //    return data;
                //}(),
                success: function (data) {
                    var listofVideos = data;
                    var objects;
                    var sourceArray = [];

                    var vidNames = [];
                    for (var i = 0; i < data.listofVideos.length; i++) {
                        vidNames.push(data.listofVideos[i].videoName);
                    }

                    console.log(listofVideos);
                    jQuery('#autosearch').autocomplete({
                        source: vidNames,
                        select: function (event, ui) {
                            chosenFile = ui.item.value;
                            var videoName = chosenFile;
                            window.location.href = '/Search/Index?videoName=' + videoName;
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                }
            });



            $('.ui-menu-item').click(function () {
                $.ajax({
                    url: "/Search/Index",
                    type: "POST",
                    data: function () {
                        var data = new FormData();
                        data.append("videoName", $(this).val());

                        return data;
                    }(),
                    success: function (response) {
                        alert("it worked");
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            });
        });

    </script>
    <style>
        button {
            background: none !important;
            border: none;
            padding: 0 !important;
            /*optional*/
            font - family: arial, sans - serif; /*input has OS specific font-family*/
            color: #069;
            text - decoration: underline;
            cursor: pointer;
        }
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
   
    <div class="header"><partial name="~/Views/Shared/HeaderPartialView.cshtml" model="Model" /></div>

    <div id="content">
        @RenderBody()
    </div>

    <div id="Footer" align="center" style="border-top-style:groove;">
        <p>Project Yu - 2019</p>
    </div>
</body>
</html>


