@model ProjectYu.Models.LoginedUserModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div><h1>Home</h1></div>
<div align="center">
    <h1 align="center">Newly Added Videos</h1>
    <table style="width:80%; border: 1px solid black;">

        @{ 
            int i = 0;
       
        @foreach (var video in Model.NewVideosModel.listofVideos)
        {
            int cellBreaker = Model.NewVideosModel.listofVideos.Count;

            if (i % 4 == 0)
            {

                @:<tr>
}

<td>
    <video width="300" height="300" controls="controls" autoplay="autoplay">
        <source src='~/Content/Videos/@video.FileName' type="video/mp4">
        Your browser does not support the video tag.
    </video>
</td>
<td>

    <a asp-controller="VideoPlayer" asp-action="Index" asp-route-fileName="@video.FileName">@video.FileName</a>
</td>

if ((i % cellBreaker) == (cellBreaker - 1))
{
@:</tr>
}
            i++;
        } 
            
            }
</table>
    </div>