@model ProjectYu.Models.NewVideosModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div align="center" style="border-top-style:groove">
    <h3 align="center">Newly Added Videos</h3>
    <table style="width:300px; height:100%; border: 3px solid white;">

        @{ 
            int i = 0;
       
        @foreach (var video in Model.listofVideos)
        {
            int cellBreaker = Model.listofVideos.Count;

            if (i % 4 == 0)
            {

                @:<tr>
}

<th>
    <video width="150" height="150" controls="controls" autoplay="autoplay">
        <source src='~/Content/Videos/@video.FileName' type="video/mp4">
        Your browser does not support the video tag.
    </video>
</th>
<td>

    <a asp-controller="VideoPlayer" asp-action="Index" asp-route-fileName="@video.FileName">@video.FileName</a>
</td>

if ((i % cellBreaker) == (cellBreaker - 1))
{
@:</tr>
}
            i++;
        } 
            
            }
</table>
    </div>