@model ProjectYu.Models.LoginedUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="header"><partial name="~/Views/Home/HomePartialView.cshtml" model="@Model" /></div>


   
    @*<div class="header" style="display:none;"><partial name="~/Shared/VideoPlayerPartialView.cshtml" model="@Model.NewVideosModel" /></div>*@
</body>
