@model ProjectYu.Models.NewVideosModel

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Project Yu Home Page</title>
</head>

<body>
    <div><h1>Home Selection</h1></div>
    <div align="center">
        <table>
            @for (int i = 0; i < Model.listofVideos.Count; i++)
            {
                <tr>
                    <td>
                        <video width="320" height="240" controls>
                            <source src="C:\\Users\\dparh\\Desktop\\" + @Model.listofVideos.ElementAt(i).FileName type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </td>
                    <td>
                        @Model.listofVideos.ElementAt(i).VideoName
                    </td>
                </tr>
            }
        </table>
    </div>

            @*<video width='500' height='720' controls>
                <source src='C:\\Users\\dparh\\Desktop\\Kikoushi_Enma_-_01.mp4' type='video/mp4'> 
            <source src='C:\\Users\\dparh\\Desktop\\Kikoushi_Enma_-_01.ogg' type='video/ogg'> 
                Your browser does not support the video tag.
            </video>*@

</body>
</html>