@model ProjectYu.Models.LoginedUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header"><partial name="~/Views/Home/HomePartialView.cshtml" model="@Model.NewVideosModel"/></div>
